.card-header>.nav .nav-link::before {
    content: '';
    background: transparent;
    border: 1px solid red;
    width: 0px;
    height: 0px;
    display: none;
}
.card-container{
    border: 1px solid red;
    padding: .8rem 0;
}
.card-container  .nav-link.active{
    border-radius: 4px;
    background-color: #26ace3;
    /* border: none; */
    color: #fff !important;
    font-weight: 500;
    letter-spacing: .5px;
    text-transform: capitalize;

}
.card-container  .nav-link{
    border-radius: 4px;
    border: .5px solid #23232374;
    color: #000 !important;
    font-weight: 500;
    letter-spacing: .5px;
    text-transform: capitalize;
    margin-right: .5rem;
    display: inline-block;
}
.card-container  .nav-link:hover{
    color: #000 !important;
    border: .5px solid #23232374;
}
.card-container .nav-link.active:hover{
    color: #fff !important;
    border: .5px solid #26ace3;
}
@media(max-width:550px){
    .card-container  .nav-link{
        margin-bottom: .5rem;
    }
}