.back-btn{
    text-decoration: none !important;
}
.body-header{
    border: 1px solid red;
    background-color: #1a73e8;
    color: #fff;
}
.body-header .header-top{
    border: 1px solid green;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.body-header .header-top a{
    border: 1px solid green;
    color: #fff;
}